/* Body */
#app {
    background-color: #44000D;
    padding-top: 30px;
    padding-bottom: 30px;
    min-height: 100vh;
}

/* Card */
.card {
    border-radius: 10px !important;
    border: none;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
    background-color: #F9D276;
}
.card-header {
    background-color: #83142C;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}
.card-body {
    background-color: #F9D276 !important;
    border-radius: 10px !important;
}

/* Button */
.btn {
    transition: .4s;
    border: none !important;
    outline: none;
    border-radius: 10px;
    font-weight: 600;
}
.btn:hover {
    transform: scale(1.03);
}
.btn-secondary {
    background-color: #232931 !important;
    font-weight: bold;
    letter-spacing: .1em;
}
table th, .btn-edit, .btn-success {
    background-color: #83142C !important;
    color:  #F9D276 !important;
    outline: none;
}
.btn-edit:active {
    outline: 5px solid rgba(68, 0, 12, 0.5);
}
.btn-success {
    border: 2px solid #83142C !important;
}
.btn-info {
    background-color: transparent !important;
    color: #83142C !important;
    border: 2px solid #83142C !important;
}
.btn-create {
    background-color: #AD1D45 !important;
    color: #F9D276;
    font-weight: 600;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.btn-create:hover {
    color: #F9D276 !important;
}
.btn-create:active {
    outline: 10px solid rgba(249, 210, 118, 0.5) !important;
}

/* Table */
table td {
    font-weight: 600 !important;
    border: none !important;
}
table th {
    border: none;
}
table .th-left {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
table .th-right {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Pagination */
.page-item .page-link {
    color: #4ECCA3;
    border-radius: 3px;
    margin: 0 3px; 
} 
.page-item.active .page-link {
    background-color: #4ECCA3;
    border-color: #4ECCA3; 
}
.page-item.disabled .page-link {
    border-color: transparent;
    background-color: #f9fafe;
    color: rgba(255, 255, 255, 0.7) !important;
    opacity: .6; 
}
.n-p .page-link {
    background-color: #232931 !important;
}
.page-link {
    border-color: transparent;
    background-color: #f9fafe;
    font-weight: 600; 
}
.page-link:hover {
    background-color: #4ecca2bd;
    color: #fff;
    border-color: transparent; 
}
.page-link:focus {
    box-shadow: none; 
}


